{% extends "base.html" %}
{% block page_content %}
{% load static %}

<!-- main layout -->
<div class="content-3">

	<!-- section home -->
	<section id="home" class="home light d-flex align-items-center">
		<div class="container">

			<!-- intro -->
			<div class="intro">
				<!-- avatar image -->
				<img src="/static/images/myphoto.png" width="120px" height="120px" style="border-radius:50%" alt="Sagar" class="mb-4" />

				<!-- info -->
				<h1 class="mb-2 mt-0" style="color: #FFFFFF">Sagar Budhathoki</h1>
				<span style="color: #FFFFFF">I'm a <span class="text-rotating" style="color: #FFFFFF">AI/ML Enthusiast, Python(Django) Developer, Software Developer</span></span>

				<!-- social icons -->
				<ul class="social-icons light list-inline mb-0 mt-4">
					<li class="list-inline-item"><a href="https://github.com/sbmagar/"><i class="icofont-github"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/magarsagarbudhathoki/"><i class="icofont-instagram"></i></a></li>
					<li class="list-inline-item"><a href="https://www.linkedin.com/in/sbmagar/"><i class="icofont-linkedin"></i></a></li>

					<li class="list-inline-item"><a href="https://www.facebook.com/sbmagar.sbm99"><i class="icofont-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/S_agarM_agar"><i class="icofont-twitter"></i></a></li>

				</ul>

				<!-- buttons -->
				<div class="mt-4">
					<a href="#contact" class="btn btn-default">Hire me</a>
				</div>
			</div>

			<!-- scroll down mouse wheel -->
			<div class="scroll-down light">
				<a href="#about" class="mouse-wrapper" >
					<span style="color: #FFFFFF">Scroll Down</span>
					<span class="mouse" style="color: #FFFFFF">
						<span class="wheel"></span>
					</span>
				</a>
			</div>

			<!-- parallax layers -->
			<div class="parallax" data-relative-input="true">

				<svg width="27" height="29" data-depth="0.3" class="layer p1" xmlns="http://www.w3.org/2000/svg"><path d="M21.15625.60099c4.37954 3.67487 6.46544 9.40612 5.47254 15.03526-.9929 5.62915-4.91339 10.30141-10.2846 12.25672-5.37122 1.9553-11.3776.89631-15.75715-2.77856l2.05692-2.45134c3.50315 2.93948 8.3087 3.78663 12.60572 2.22284 4.297-1.5638 7.43381-5.30209 8.22768-9.80537.79387-4.50328-.8749-9.08872-4.37803-12.02821L21.15625.60099z" fill="#FFD15C" fill-rule="evenodd"></path></svg>

				<svg width="26" height="26" data-depth="0.2" class="layer p2" xmlns="http://www.w3.org/2000/svg"><path d="M13 3.3541L2.42705 24.5h21.1459L13 3.3541z" stroke="#FF4C60" stroke-width="3" fill="none" fill-rule="evenodd"></path></svg>

				<svg width="30" height="25" data-depth="0.3" class="layer p3" xmlns="http://www.w3.org/2000/svg"><path d="M.1436 8.9282C3.00213 3.97706 8.2841.92763 14.00013.92796c5.71605.00032 10.9981 3.04992 13.85641 8 2.8583 4.95007 2.8584 11.0491-.00014 16.00024l-2.77128-1.6c2.28651-3.96036 2.28631-8.84002.00011-12.8002-2.2862-3.96017-6.5124-6.40017-11.08513-6.4-4.57271.00018-8.79872 2.43984-11.08524 6.4002l-2.77128-1.6z" fill="#44D7B6" fill-rule="evenodd"></path></svg>

				<svg width="15" height="23" data-depth="0.6" class="layer p4" xmlns="http://www.w3.org/2000/svg"><rect transform="rotate(30 9.86603 10.13397)" x="7" width="3" height="25" rx="1.5" fill="#FFD15C" fill-rule="evenodd"></rect></svg>

				<svg width="15" height="23" data-depth="0.2" class="layer p5" xmlns="http://www.w3.org/2000/svg"><rect transform="rotate(30 9.86603 10.13397)" x="7" width="3" height="25" rx="1.5" fill="#6C6CE5" fill-rule="evenodd"></rect></svg>

				<svg width="49" height="17" data-depth="0.5" class="layer p6" xmlns="http://www.w3.org/2000/svg"><g fill="#FF4C60" fill-rule="evenodd"><path d="M.5 16.5c0-5.71709 2.3825-10.99895 6.25-13.8567 3.8675-2.85774 8.6325-2.85774 12.5 0C23.1175 5.50106 25.5 10.78292 25.5 16.5H23c0-4.57303-1.90625-8.79884-5-11.08535-3.09375-2.28652-6.90625-2.28652-10 0C4.90625 7.70116 3 11.92697 3 16.5H.5z"></path><path d="M23.5 16.5c0-5.71709 2.3825-10.99895 6.25-13.8567 3.8675-2.85774 8.6325-2.85774 12.5 0C46.1175 5.50106 48.5 10.78292 48.5 16.5H46c0-4.57303-1.90625-8.79884-5-11.08535-3.09375-2.28652-6.90625-2.28652-10 0-3.09375 2.28651-5 6.51232-5 11.08535h-2.5z"/></g></svg>

				<svg width="26" height="26" data-depth="0.4" class="layer p7" xmlns="http://www.w3.org/2000/svg"><path d="M13 22.6459L2.42705 1.5h21.1459L13 22.6459z" stroke="#FFD15C" stroke-width="3" fill="none" fill-rule="evenodd"></path></svg>

				<svg width="19" height="21" data-depth="0.3" class="layer p8" xmlns="http://www.w3.org/2000/svg"><rect transform="rotate(-40 6.25252 10.12626)" x="7" width="3" height="25" rx="1.5" fill="#6C6CE5" fill-rule="evenodd"></rect></svg>

				<svg width="30" height="25" data-depth="0.3" data-depth-y="-1.30" class="layer p9" xmlns="http://www.w3.org/2000/svg"><path d="M29.8564 16.0718c-2.85854 4.95114-8.1405 8.00057-13.85654 8.00024-5.71605-.00032-10.9981-3.04992-13.85641-8-2.8583-4.95007-2.8584-11.0491.00014-16.00024l2.77128 1.6c-2.28651 3.96036-2.28631 8.84002-.00011 12.8002 2.2862 3.96017 6.5124 6.40017 11.08513 6.4 4.57271-.00018 8.79872-2.43984 11.08524-6.4002l2.77128 1.6z" fill="#6C6CE5" fill-rule="evenodd"></path></svg>

				<svg width="47" height="29" data-depth="0.2" class="layer p10" xmlns="http://www.w3.org/2000/svg"><g fill="#44D7B6" fill-rule="evenodd"><path d="M46.78878 17.19094c-1.95535 5.3723-6.00068 9.52077-10.61234 10.8834-4.61167 1.36265-9.0893-.26708-11.74616-4.27524-2.65686-4.00817-3.08917-9.78636-1.13381-15.15866l2.34923.85505c-1.56407 4.29724-1.2181 8.92018.90705 12.12693 2.12514 3.20674 5.70772 4.5107 9.39692 3.4202 3.68921-1.0905 6.92581-4.40949 8.48988-8.70673l2.34923.85505z"></path><path d="M25.17585 9.32448c-1.95535 5.3723-6.00068 9.52077-10.61234 10.8834-4.61167 1.36264-9.0893-.26708-11.74616-4.27525C.16049 11.92447-.27182 6.14628 1.68354.77398l2.34923.85505c-1.56407 4.29724-1.2181 8.92018.90705 12.12692 2.12514 3.20675 5.70772 4.5107 9.39692 3.4202 3.68921-1.0905 6.92581-4.40948 8.48988-8.70672l2.34923.85505z"/></g></svg>

				<svg width="33" height="20" data-depth="0.5" class="layer p11" xmlns="http://www.w3.org/2000/svg"><path d="M32.36774.34317c.99276 5.63023-1.09332 11.3614-5.47227 15.03536-4.37895 3.67396-10.3855 4.73307-15.75693 2.77837C5.76711 16.2022 1.84665 11.53014.8539 5.8999l3.15139-.55567c.7941 4.50356 3.93083 8.24147 8.22772 9.8056 4.29688 1.56413 9.10275.71673 12.60554-2.2227C28.34133 9.98771 30.01045 5.4024 29.21635.89884l3.15139-.55567z" fill="#FFD15C" fill-rule="evenodd"></path></svg>

			</div>
		</div>

	</section>


	<!-- section about -->
	<section id="about">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">About Me</h2>

			<div class="spacer" data-height="60"></div>

			<div class="row">

				<div class="col-md-3">
					<div class="text-center text-md-left">
						<!-- avatar image -->
						<div class="card-body">
						    <img src="/static/images/myphoto.png" width="160px" height="160px" style="border-radius:50%" alt="Sagar" class="mb-4" />
					    </div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-9 triangle-left-md triangle-top-sm">
					<div class="rounded bg-white shadow-dark padding-30">
						<div class="row">
							<div class="col-md-6" style="color:#000000">
								<!-- about text -->
								<p style="text-align: justify">I am Sagar Budhathoki, Python developer & an AI/ML enthusiast from Nepal. I have some experience in AI software development and also in dynamic web applications building and customization, I am specially good at Django(Python).</p>
								<div class="mt-3">
									<a href="https://drive.google.com/uc?export=download&id=100_Z4mzmXff7iCnhgK60W_-XtkU5n10I" class="btn btn-default">Download Résumé</a>
								</div>
								<div class="spacer d-md-none d-lg-none" data-height="30"></div>
							</div>
							<div class="col-md-6">
								<!-- skill item -->
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0"> Web Development</h4>
										<span class="float-right">65%</span>
									</div>
									<div class="progress">
										<div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="65" data-color="#FFD15C">
										</div>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>

								<!-- skill item -->
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">AI/ML</h4>
										<span class="float-right">55%</span>
									</div>
									<div class="progress">
										<div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="55" data-color="#FF4C60">
										</div>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>

								<!-- skill item -->
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">DevOps</h4>
										<span class="float-right">60%</span>
									</div>
									<div class="progress">
										<div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70" data-color="#6C6CE5">
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- row end -->

			<div class="spacer" data-height="70"></div>

			<div class="row">

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-fire"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number" style="color:#FFFFFF"><em class="count">7</em></h3>
							<p class="mb-0" style="color:#FFFFFF">Projects completed</p>
						</div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-cup"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number" style="color:#FFFFFF"><em class="count">5</em></h3>
							<p class="mb-0" style="color:#FFFFFF">Cups of coffee</p>
						</div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-people"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number" style="color:#FFFFFF"><em class="count">6</em></h3>
							<p class="mb-0" style="color:#FFFFFF">Satisfied clients</p>
						</div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-badge"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number" style="color:#FFFFFF"><em class="count">7</em></h3>
							<p class="mb-0" style="color:#FFFFFF">Appreciations</p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>

	<!-- section services -->
	<section id="services">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">Services</h2>

			<div class="spacer" data-height="60"></div>

			<div class="row">

				<div class="col-md-4">
					<!-- service box -->
					<div class="service-box rounded data-background padding-30 text-center text-light shadow-blue" data-color="#6C6CE5">
						<img src="/static/images/service-5.svg" alt="Backend" />
						<h3 class="mb-3 mt-0">Backend Development</h3>
						<p class="mb-0">Test Driven Development with python-django<br> Django-REST, Docker, Nginx, Gunicorn, Travis-CI, PostgreSQL, MongoDB.
							Deployment and all serverside configurations</p>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-4">
					<!-- service box -->
					<div class="service-box rounded data-background padding-30 text-center shadow-yellow" data-color="#F9D74C">
						<img src="/static/images/service-2.svg" alt="Fronend" />
						<h3 class="mb-3 mt-0" style="color:#000000">Frontend Development</h3>
						<p class="mb-0" style="color:#000000">ReactJS with hooks(basic), JS, HTML/CSS. JQuery, Bootstrap</p>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-4">
					<!-- service box -->
					<div class="service-box rounded data-background padding-30 text-center text-light shadow-pink" data-color="#F97B8B">
						<img src="/static/images/service-3.svg" alt="AI/ML" />
						<h3 class="mb-3 mt-0">AI/ML</h3>
						<p class="mb-0">Data Mining<br>
                            Model Development<br>
							Web Crawling and Scraping<br>
							Deep Learning<br>
							Data Visualization, NVR System (FFMPEG/LIVE555)<br>
							NLP/NLU/NLG</p>
					</div>
				</div>

			</div>

			<div class="mt-5 text-center">
				<p class="mb-0">Looking for a developer? <a href="#contact">Click here</a> to contact me! 👋</p>
			</div>

		</div>

	</section>

	<!-- section experience -->
	<section id="experience">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">Education & Experiences</h2>

			<div class="spacer" data-height="60"></div>

			<div class="row">

				<div class="col-md-6">

					<!-- timeline wrapper -->
					<div class="timeline bg-white rounded shadow-dark padding-30 overflow-hidden">

						<!-- timeline item -->
						<div class="timeline-container wow fadeInUp">
							<div class="content">
								<span class="time">2016 - 2020</span>
								<h3 class="title">Bachelor’s Degree</h3>
								<p style="color:#000000">BE in Computer Engineering, IOE, Western Regional Campus, TU</p>
							</div>
						</div>

						<!-- timeline item -->
						<div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
							<div class="content">
								<span class="time">2013 - 2015</span>
								<h3 class="title">+2 Science</h3>
								<p style="color:#000000">HIMS, Kathmandu</p>
							</div>
						</div>

						<!-- timeline item -->
						<div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
							<div class="content">
								<span class="time">upto 2013</span>
								<h3 class="title">School Leaving Certificate</h3>
								<p style="color:#000000">Shree Mahendra Ratna HSS, Myagdi</p>
							</div>
						</div>

						<!-- main line -->
						<span class="line"></span>

					</div>

				</div>

				<div class="col-md-6">

					<!-- responsive spacer -->
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>

					<!-- timeline wrapper -->
					<div class="timeline bg-white rounded shadow-dark padding-30 overflow-hidden">

						<!-- timeline item -->
						<div class="timeline-container wow fadeInUp">
							<div class="content">
								<span class="time">2021 - Present</span>
								<h3 class="title">AI software developer(Python)</h3>
								<h4 style="font-size:16px">VolgAI</h4>
								<p style="color:#000000">Working on AI chatbot development as NLP/NLG project.</p>

							</div>
						</div>

						<!-- timeline item -->
						<div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
							<div class="content">
								<span class="time">2020, Oct - 2021, Jan</span>
								<h3 class="title">AWS AI/ML Interestship(Training program)</h3>

								<h4 style="font-size:16px">Genese Cloud Academy</h4>
								<p style="color:#000000">Worked on various AWS services.</p>
							</div>
						</div>

						<!-- timeline item -->
						<div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
							<div class="content">
								<span class="time">2020, Jan - 2020, Oct</span>
								<h3 class="title">AI Research Engineer / Django Developer</h3>
								<h4 style="font-size:16px">IBZ Networks Pvt. Ltd., Balaju</h4>
								<p style="color:#000000">Development of ffmpeg/live555 RTSP protocol server, UDP server, MariaDB for sensor database, sensors data encoding-decoding, ML model development, visualizations, scraping and Operator server UI with django, bootstrap4, plotly etc.</p>
							</div>
						</div>

						<div class="timeline-container wow fadeInUp" data-wow-delay="0.6s">
							<div class="content">
								<span class="time">2019, Feb - 2019, May</span>
								<h3 class="title">Django Intern</h3>
								<h4 style="font-size:16px">At ITDeurali Inc., Pokhara</h4>
								<p style="color:#000000">Worked on backend RESTful API, CORS, CSRF, Token Authentication<br>Worked on frontend with React-Native.</p>
							</div>
						</div>

						<!-- main line -->
						<span class="line"></span>

					</div>

				</div>

			</div>

		</div>

	</section>

	<!-- section works -->
	<section id="works">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">Recent works</h2>

			<div class="spacer" data-height="60"></div>

			<!-- portolio wrapper -->
			<div class="row portfolio-wrapper">

				 {% for work in works %}
            <div>

        </div>
				<div class="col-md-4 " style="margin-top:10px">
					<!-- blog item -->
					<div class="blog-item rounded bg-white shadow-dark wow fadeIn">
						<div class="thumb">
							{% for category_work in work.categories.all %}
                            <a href="{% url 'work_category' category_work.name %}">
								<span class="category">{{ category_work.name }}</span>
							</a>
							{% endfor %}
                            <a href="{% url 'work_detail' work.pk %}">
								<img src="{{ work.image.url }}" alt="work-title" />
							</a>
						</div>
						<div class="details">
							<h4 class="my-0 title"><a href="{% url 'work_detail' work.pk %}">{{ work.title }}</a></h4>
							<p class="my-0 title"><a href="{% url 'work_detail' work.pk %}">{{ work.short_desciption }}</a></p>
							<ul class="list-inline">
								<li class="list-inline-item"><i class="icofont-user"></i> {{work.author.last_name }}</li>
								<li class="list-inline-item"><i class="icofont-clock-time"></i> {{ work.created_on | timesince }}</li>

								<li class="list-inline-item"><i class="icofont-eye"></i> {{ work.visit_num }}</li>

							</ul>




						</div>


					</div>

                </div>
                {% endfor %}


			</div>

		          <!-- more button -->
			    <div class="text-center mt-4">
				    <a href="/works"><button class="btn btn-default">View all</button></a>
		        </div>
        </div>

	</section>


	<!-- section prices
	<section id="prices">

		<div class="container">

			 section title
			<h2 class="section-title wow fadeIn">Pricing Plans</h2>

			<div class="spacer" data-height="60"></div>

			<div class="row">

				<div class="col-md-4 pr-md-0 mt-md-4 mt-0">
					<!- - price item - ->
					<div class="price-item bg-white rounded shadow-dark text-center">
						<img src="/static/images/price-1.svg" alt="Regular" />
						<h2 class="plan">Basic</h2>
						<p>A Simple option but powerful to manage your business</p>
						<p>Email support</p>
						<h3 class="price"><em>$</em>9<span>Month</span></h3>
						<a href="#" class="btn btn-default">Get Started</a>
					</div>
				</div>

				<div class="col-md-4 px-md-0 my-4 my-md-0">
					<!- - price item recommended - ->
					<div class="price-item bg-white rounded shadow-dark text-center best">
						<span class="badge">Recommended</span>
						<img src="/static/images/price-2.svg" alt="Premium" />
						<h2 class="plan">Premium</h2>
						<p>Unlimited product including apps integrations and more features</p>
						<p>Mon-Fri support</p>
						<h3 class="price"><em>$</em>49<span>Month</span></h3>
						<a href="#" class="btn btn-default">Get Started</a>
					</div>
				</div>

				<div class="col-md-4 pl-md-0 mt-md-4 mt-0">
					<!- - price item - ->
					<div class="price-item bg-white rounded shadow-dark text-center">
						<img src="/static/images/price-3.svg" alt="Ultimate" />
						<h2 class="plan">Ultimate</h2>
						<p>A wise option for large companies and individuals</p>
						<p>24/7 support</p>
						<h3 class="price"><em>$</em>99<span>Month</span></h3>
						<a href="#" class="btn btn-default">Get Started</a>
					</div>
				</div>

			</div>

		</div>

	</section>
	 -->



	<!-- section testimonials -->
	<section id="testimonials">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">Clients & Reviews</h2>

			<div class="spacer" data-height="60"></div>

			<!-- testimonials wrapper -->
			<div class="testimonials-wrapper">

				<!-- testimonial item -->
				<div class="testimonial-item text-center mx-auto">
					<div class="thumb mb-3 mx-auto">
						<img src="/static/images/avatar-3.svg" alt="customer-name" />
					</div>
					<h4 class="mt-3 mb-0" style="color:#41f721">Salman Qamar</h4>
					<span class="subtitle" style="color:#FFFFFF">Python-scrapy expert</span>
					<div class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4">
						<p class="mb-0" style="color:#000000">"Sagar exceeded our expectations on the task. Great technical background, organization and communication skills. Would love to work with him again."</p>
					</div>
				</div>

				<!-- testimonial item -->
				<div class="testimonial-item text-center mx-auto">
					<div class="thumb mb-3 mx-auto">
						<img src="/static/images/avatar-1.svg" alt="customer-name" />
					</div>
					<h4 class="mt-3 mb-0" style="color:#41f721">Soomyoung Yi</h4>
					<span class="subtitle" style="color:#FFFFFF">AI Researcher at IBZ Networks</span>
					<div class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4">
						<p class="mb-0" style="color:#000000">
                            <q class='testimonial-quote' >"It was a pleasure to work with Sagar! Most fantastic researcher/developer I've ever seen! I'd love to work with him in the near future!. Good luck! 🔥"</q></p>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-1.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-2.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-3.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-4.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-5.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-6.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-7.svg" alt="client-name" />
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<!-- client item -->
					<div class="client-item">
						<div class="inner">
							<img src="/static/images/client-8.svg" alt="client-name" />
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

	<!-- section blog -->
	<section id="blog">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">Latest Posts</h2>

			<div class="spacer" data-height="60"></div>

			<div class="row blog-wrapper">

				  {% for post in posts %}

				<div>

        </div>
				<div class="col-md-4 " style="margin-top:10px">
					<!-- blog item -->
					<div class="blog-item rounded bg-white shadow-dark wow fadeIn">
						<div class="thumb">
							{% for category_post in post.categories.all %}
                            <a href="{% url 'blog_category' category_post.name %}">
								<span class="category">{{ category_post.name }}</span>
							</a>
							{% endfor %}
                            <a href="{% url 'blog_detail' post.pk %}">
								<img src="/static/images/blog/default.png" alt="blog-title" />
							</a>
						</div>
						<div class="details">
							<h4 class="my-0 title"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h4>
							<p class="my-0 title"><a href="{% url 'work_detail' post.pk %}">{{ post.short_desciption }}</a></p>
							<ul class="list-inline">
								<li class="list-inline-item"><i class="icofont-user"></i> {{post.author.last_name }}</li>
								<li class="list-inline-item"><i class="icofont-clock-time"></i> {{ post.created_on | timesince }}</li>

								<li class="list-inline-item"><i class="icofont-eye"></i> {{ post.visit_num }}</li>

							</ul>




						</div>


					</div>

                </div>
                {% endfor %}





			</div>

            <!-- more button -->
			<div class="text-center mt-4">
				<a href="/blogs"><button class="btn btn-default">View all</button></a>


			</div>

		</div>

	</section>

	<!-- section contact -->
	<section id="contact">

		<div class="container">

			<!-- section title -->
			<h2 class="section-title wow fadeInUp">Get In Touch</h2>

			<div class="spacer" data-height="60"></div>

			<div class="row">

				<div class="col-md-4">
					<!-- contact info -->
					<div class="contact-info">
						<h3 class="wow fadeInUp">Let's talk about everything!</h3>
						<p class="wow fadeInUp">Or you can send me an <a href="mailto:sbmagar.sbm55@gmail.com">email</a>. 👋</p>
					</div>
				</div>

				<div class="col-md-8">
					 {% load crispy_forms_tags %}
					<!-- Contact Form -->
					<form action="." method="post" style="margin-top: 1.3em">
                           {{ form | crispy }}
                           {% csrf_token %}
                         <button type="submit" class="btn btn-default">Submit</button>

                      </form>
					<!-- Contact Form end -->
				</div>


			</div>

		</div>

	</section>
</div>

{% endblock %}
